<div class="author">
    <h1 class="author-heading">Mostafa Abdallah</h1>
    <p class="author-body">Backend Developer</p>

</div>
<img src="/img/articleHeader.jpg" alt="" class="photo" width="981" height="528">
<section class="articles">
    <h2 class="articles__heading">Latest Articles</h2>
    <ul class="article-ul">
        <% data.forEach(post => { %> 
        <li> 
            <a href="/post/<%= post._id  %>">
                <span class="article-title"><%= post.title %></span>
                <span class="article-list__date"><%=post.createdAt.toDateString()%></span>
            </a>
        </li>
        <% }) %>
    </ul>
    <% if (nextPage !== null) { %>
    <a href="/?page=<%= nextPage %>" class="pagination">&lt;View Older Articles</a>
    <% } %>
</section>